.orange {
  color: orange
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 11px 13px 18px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 11px 13px 18px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 13px 18px -2px rgba(0,0,0,0.75);;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.avartar{
  position: relative;
  width: 200px;
  height: 200px;
}
.new{
  position: absolute;
  left: 80%;
  top: 5%;
  background-color: aqua;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}